<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Builtin</key>
	<array>
		<dict>
			<key>Word</key>
			<string>Redound</string>
			<key>Speech</key>
			<string>v.</string>
			<key>Definition</key>
			<string>To become added; accrue</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Boffin</string>
			<key>Speech</key>
			<string>n.</string>
			<key>Definition</key>
			<string>One engaged in science and tech research</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Footle</string>
			<key>Speech</key>
			<string>v.</string>
			<key>Definition</key>
			<string>To waste time</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Effusive</string>
			<key>Speech</key>
			<string>adj.</string>
			<key>Definition</key>
			<string>With great enthusiasm or emotion</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Hoodwink</string>
			<key>Speech</key>
			<string>v.</string>
			<key>Definition</key>
			<string>To deceive; dupe</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Contraband</string>
			<key>Speech</key>
			<string>n.</string>
			<key>Definition</key>
			<string>Smuggled goods</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Impetus</string>
			<key>Speech</key>
			<string>n.</string>
			<key>Definition</key>
			<string>Driving force or impulse</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Orgulous</string>
			<key>Speech</key>
			<string>adj.</string>
			<key>Definition</key>
			<string>Proud or haughty</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Quip</string>
			<key>Speech</key>
			<string>n.</string>
			<key>Definition</key>
			<string>Clever remark or observation</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Sinuous</string>
			<key>Speech</key>
			<string>n.</string>
			<key>Definition</key>
			<string>Serpentine or wavy; snakelike</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Tourbillion</string>
			<key>Speech</key>
			<string>n.</string>
			<key>Definition</key>
			<string>Whirlwind or vortex</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Depone</string>
			<key>Speech</key>
			<string>v.</string>
			<key>Definition</key>
			<string>Testify; assert under oath</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Utmost</string>
			<key>Speech</key>
			<string>adj.</string>
			<key>Definition</key>
			<string>To the highest degree</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Ben Matlock</string>
			<key>Speech</key>
			<string>n.</string>
			<key>Definition</key>
			<string>Attorney</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Sapient</string>
			<key>Speech</key>
			<string>adj.</string>
			<key>Definition</key>
			<string>Possessing great wisdom</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Miscible</string>
			<key>Speech</key>
			<string>adj.</string>
			<key>Definition</key>
			<string>Capable of being mixed without separation</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Esplanade</string>
			<key>Speech</key>
			<string>n.</string>
			<key>Definition</key>
			<string>Open stretch of paved or grassy ground</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Utile</string>
			<key>Speech</key>
			<string>adj.</string>
			<key>Definition</key>
			<string>Useful</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Infantilize</string>
			<key>Speech</key>
			<string>v.</string>
			<key>Definition</key>
			<string>To treat like a young child</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Phalanx</string>
			<key>Speech</key>
			<string>n.</string>
			<key>Definition</key>
			<string>Troops in close array</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Lackadaisical</string>
			<key>Speech</key>
			<string>n.</string>
			<key>Definition</key>
			<string>Languid; lacking life or spirit</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Thwart</string>
			<key>Speech</key>
			<string>v.</string>
			<key>Definition</key>
			<string>To successfully oppose</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Fungible</string>
			<key>Speech</key>
			<string>adj.</string>
			<key>Definition</key>
			<string>Interchangeable; flexible</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Tricorder</string>
			<key>Speech</key>
			<string>n.</string>
			<key>Definition</key>
			<string>Scanning Device from "Star Trek"</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Effulgent</string>
			<key>Speech</key>
			<string>adj.</string>
			<key>Definition</key>
			<string>Shining brightly; radiant</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Umbrage</string>
			<key>Speech</key>
			<string>n.</string>
			<key>Definition</key>
			<string>Feeling of resentment</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Addlepated</string>
			<key>Speech</key>
			<string>adj.</string>
			<key>Definition</key>
			<string>Mixed up and confused</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Hawkshaw</string>
			<key>Speech</key>
			<string>n.</string>
			<key>Definition</key>
			<string>Detective</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Irascible</string>
			<key>Speech</key>
			<string>n.</string>
			<key>Definition</key>
			<string>Easily provoked to anger</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Chicanery</string>
			<key>Speech</key>
			<string>n.</string>
			<key>Definition</key>
			<string>Deception by subterfuge; trickery</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Aseptic</string>
			<key>Speech</key>
			<string>adj.</string>
			<key>Definition</key>
			<string>Preventing infection</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Repertoire</string>
			<key>Speech</key>
			<string>n.</string>
			<key>Definition</key>
			<string>Supply of skills and capabilities</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Labile</string>
			<key>Speech</key>
			<string>adj.</string>
			<key>Definition</key>
			<string>Frequently changing or unstable</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Cinephile</string>
			<key>Speech</key>
			<string>n.</string>
			<key>Definition</key>
			<string>Film buff</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Anglophile</string>
			<key>Speech</key>
			<string>n.</string>
			<key>Definition</key>
			<string>Admirer of England and English culture</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Francophile</string>
			<key>Speech</key>
			<string>n.</string>
			<key>Definition</key>
			<string>Admirer of France and French culture</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Anglophobe</string>
			<key>Speech</key>
			<string>n.</string>
			<key>Definition</key>
			<string>Hostile to England and English culture</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Francophobe</string>
			<key>Speech</key>
			<string>n.</string>
			<key>Definition</key>
			<string>Hostile to France and French culture</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>WYSIWYG</string>
			<key>Speech</key>
			<string>n.</string>
			<key>Definition</key>
			<string>Software that displays a document as it will when printed</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Encumber</string>
			<key>Speech</key>
			<string>v.</string>
			<key>Definition</key>
			<string>Weigh down or burden</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Nonpareil</string>
			<key>Speech</key>
			<string>adj.</string>
			<key>Definition</key>
			<string>Without equal</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Orotund</string>
			<key>Speech</key>
			<string>adj.</string>
			<key>Definition</key>
			<string>Pompous and bombastic</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Burgeon</string>
			<key>Speech</key>
			<string>v.</string>
			<key>Definition</key>
			<string>Sprout or Bloom; flourish</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Prosaic</string>
			<key>Speech</key>
			<string>adj.</string>
			<key>Definition</key>
			<string>Dull and unimaginative</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Chilblain</string>
			<key>Speech</key>
			<string>n.</string>
			<key>Definition</key>
			<string>Swelling caused by exposure to cold</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Millefleur</string>
			<key>Speech</key>
			<string>adj.</string>
			<key>Definition</key>
			<string>Patterned with small flowers and plants</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Demure</string>
			<key>Speech</key>
			<string>adj.</string>
			<key>Definition</key>
			<string>Reserved or modest</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Comely</string>
			<key>Speech</key>
			<string>adj.</string>
			<key>Definition</key>
			<string>Having a pleasing appearance</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Lenitive</string>
			<key>Speech</key>
			<string>adj.</string>
			<key>Definition</key>
			<string>Soothing; alleviating pain</string>
		</dict>
		<dict>
			<key>Word</key>
			<string>Vernal</string>
			<key>Speech</key>
			<string>adj.</string>
			<key>Definition</key>
			<string>Youthful; relating to spring</string>
		</dict>
	</array>
</dict>
</plist>
